/* geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
}

body {
    background-image: url(img/horizonte.jpg);
    background-size: cover;
    background-position-y: -200px;  
}

textarea:focus, input:focus {
    outline: none;
}

a {
    font-size: .8rem;
}

a:hover {
    color: #085588
}

/*container login*/
#login-container {
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

#register-container {
    background-color:rgb(255, 255, 255);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

/*formulário*/
form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    border: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px
}

input:focus {
    border-bottom: 2px solid #bb631b;
}

#forgot-pass {
    text-align: right;
    display: block;
}

.btn-custom-login {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    border: 40px;
    border-radius: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color:rgb(197, 116, 40);
    background-color: #000000;
    cursor: pointer;
}

.btn-custom-login:hover {
    background-color:rgb(212, 167, 82);
    transition: .5s;
}